@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body{
    background-color: #c5c5c5;
}

header{
    background-color: #1c1c1c;
    padding: 20px;
    position: sticky;
    top: 0px;
    text-align: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
}

a{
    text-decoration: none;
    color: aliceblue;
}

h1{
    color: #fafbfd;
    text-align: center;
    border-top: 5px solid #45B39D;
    padding: 10px;
    background-color: #1c1c1c;
    position: sticky;
    top: 64px;
}

.article1{
    width: 600px;
    color: black;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

section img {
    width: 500px;
    height: 300px;
    padding: 0px;
}

.galeria{  
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
}

div img {
    width: 400px;
    height: 300px;
}

article{
    text-align: center;
}

form {
    padding-top: 200px;
    text-align: center;
}

label{
    padding: 40px 10px 40px 0px;
}

.locales{
    display: inline-block;
}

footer{
    color: #fafbfd;
    padding: 30px 0px 0px 20px;
    margin: 300px 0px 0px 0px;
    background-color: #1c1c1c;
    text-align: justify;
}

footer img{
    width: 40px;
    height: 40px;
}
